<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.miu.meditationapp">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SET_ALARM" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MeditationApp">
        <activity
            android:name=".LoginAddUser"
            android:exported="true" />
        <activity
            android:name=".ui.main.VideosView"
            android:exported="true" />
        <activity
            android:name=".OnboardingActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BreathActivity"
            android:exported="false" />
        <activity
            android:name=".MeditationActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:label="@string/title_activity_meditation"
            android:theme="@style/Theme.MeditationApp.Fullscreen" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <receiver android:name=".helper.NotificationReceiver" />
    </application>

</manifest>